

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Aligns children (items) horizontally in the center */
  justify-content: center; /* Aligns children (items) vertically in the center */
  width: 100%; /* Full width of the viewport */
  height: 100%; /* Full height of the viewport */
}


.map-and-list-container {
  display: flex;
  flex-direction: row; /* Horizontal layout */
  height: 100%; /* Take up all available vertical space */
  width: 100%; /* Full width */
}

/* Style the map and list containers as needed */
.map-container {
  flex-grow: 1; /* Grow to fill available space */
  height: 80vh; /* Adjusted height, previously set inline */
  width: 80vw; /* Adjusted width, previously set inline */
}

/* Style the list container to take up 20% of the width */
.list-container {
  width: 300px; /* Or use percentage like 20% */
  height: 100%; /* Full height */
  overflow-y: auto; /* Scroll if content overflows */
}

.nav-style {
  background: lightblue; /* Changed to light blue */
  padding: 10px;        /* Removed quotes for numeric value */
  position: fixed;
  top: 0;
  width: 100%;          /* Removed quotes for percentage value */
}

.sorting-dropdown {
  margin: 10px;
}

.nav-buttons {
    display: flex;        /* Flexbox for horizontal alignment */
    flex-direction: row;  /* Row direction for horizontal alignment */
    justify-content: space-around;
}

.location-item {
    background-color: green;
    border-radius: 10px;
    padding: 5px;
    margin: 10px 0;
    color: white;
}

.location-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.game-item {
    background-color: red;
    border-radius: 10px;
    padding: 5px;
    margin: 10px 0;
    color: white;
}

.game-info {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust the gap as needed */
}

.InfoModal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* semi-transparent background */
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's above other elements */
  }

  .gameCreationModal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* semi-transparent background */
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's above other elements */
  }

  .gameCreationModal-content {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  .locationInfoModal-content {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }

  .gameInfoModal-content {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }

  .profileCreationModal-content {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }

  