

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Aligns children (items) horizontally in the center */
  justify-content: center; /* Aligns children (items) vertically in the center */
  width: 100%; /* Full width of the viewport */
  height: 100%; /* Full height of the viewport */
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers children horizontally */
    justify-content: flex-start; /* Aligns content to the top */
    width: 100%; /* Full width of the viewport */
    overflow-y: auto; /* Enable vertical scrolling */
    padding-left: 20px;
    margin-top: 200px;
}
.map-and-list-container {
  display: flex;
  flex-direction: row; /* Horizontal layout */
  height: 100%; /* Take up all available vertical space */
  width: 100%; /* Full width */
}

/* Style the map and list containers as needed */
.map-container {
  flex-grow: 1; /* Grow to fill available space */
  height: 80vh; /* Adjusted height, previously set inline */
  width: 80vw; /* Adjusted width, previously set inline */
}

/* Style the list container to take up 20% of the width */
.scrollable-list-container {
  max-height: 400px; /* Adjust as needed */
  overflow-y: auto; /* Enable vertical scrolling */
  margin-top: 20px;
}

.nav-style {
  background:rgba(61, 90, 128, 1); /* Changed to light blue */
  padding: 10px;        /* Removed quotes for numeric value */
  position: fixed;
  top: 0;
  width: 100%;          /* Removed quotes for percentage value */
}

.nav-style h2 {
  margin: 0;
}

.nav-style a {
    color: white;
    text-decoration: none; /* Optional: Removes underline from links */
}

.sorting-dropdown {
  margin: 10px;
}

.nav-buttons {
    display: flex;        /* Flexbox for horizontal alignment */
    flex-direction: row;  /* Row direction for horizontal alignment */
    justify-content: space-around;
}

.location-item {
    background-color:rgba(128, 187, 5, 1);
    border-radius: 10px;
    padding: 5px;
    margin: 10px 0;
    color: white;
}

.location-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.game-item {
    background-color: rgba(238, 108, 77, 1);
    border-radius: 10px;
    padding: 5px;
    margin: 10px 0;
    color: white;
}

.game-info {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust the gap as needed */
}

.team-item {
    background-color: grey;
    border-radius: 10px;
    padding: 5px;
    margin: 10px 0;
    color: white;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* semi-transparent background */
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's above other elements */
}

.gameCreationModal-content {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 800px; /* Adjusted width */
    max-width: 90vw; /* Maximum width to ensure it doesn't overflow the viewport */
    overflow-y: auto; /* Enable vertical scrolling if the content exceeds the modal height */
    position: relative; /* To ensure the modal is properly positioned */
    display: flex;
    flex-direction: column; /* Aligns children in a column */
    align-items: center; /* Centers children horizontally */
    justify-content: center; /* Centers content vertically */
}
  
.locationInfoModal-content {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.teamModal-content {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.gameInfoModal-content {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    max-height: 80vh; /* Set a maximum height to prevent it from going off-screen */
    overflow-y: auto; /* Enable vertical scrolling when content overflows */
    width: 600px; /* Optional: Set a fixed width for consistency */
}

.game-playerlist-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap; 
}

.form-group {
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
  
.form-group label {
    display: block;
    margin-bottom: 5px;
}
  
.form-group input, .form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
.date-time-row {
    display: flex;
    justify-content: space-between; /* Adjust as needed for spacing */
    gap: 10px; /* Space between date and time fields */
}
  
.date-field, .time-field {
    flex: 1; /* Each field takes equal width */
}

.teams-max-row {
    display: flex;
    justify-content: space-between; /* Adjust as needed for spacing */
    gap: 10px; /* Space between fields */
}
  
.teams-only-field, .max-players-field {
    flex: 1; /* Each field takes equal width */
    display: flex;
    flex-direction: column; /* Aligns the label above the input/checkbox */
}

.skill-min-max-row {
    display: flex;
    justify-content: space-between; /* Adjust as needed for spacing */
    gap: 10px; /* Space between fields */
}
  
.skill-min-field, .skill-max-field {
    flex: 1; /* Each field takes equal width */
    display: flex;
    flex-direction: column; /* Aligns the label above the input */
}

.date-time-row, .teams-max-row, .skill-min-max-row {
    display: flex;
    justify-content: space-between;
    gap: 30px; /* Increased gap for more horizontal spacing */
}


.profileCreationModal-content {
    display: flex;
    flex-direction: column;
    background: white;
    color: black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.user-lists-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
}

.playerlist-container {
    display: flex;
    flex-direction: row; /* Align items in a row */
    align-items: center; /* Center items vertically */
    justify-content: flex-start; /* Align items to the start of the container */
    gap: 10px; /* Gap between items */
    padding: 10px; /* Padding around the container */
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: hidden; /* Prevent vertical scrolling */
    white-space: nowrap; /* Prevent wrapping to a new line */
}

.player-circle {
    align-self: center;
    width: 66.66%; /* Adjust the width as per your design */
    padding-top: 66.66%; /* Height based on the width to keep it circular */
    border-radius: 50%; /* Make it round */
    background-color: lightblue; /* Circle color */
    margin-bottom: 10px; /* Space below the circle */
    box-sizing: border-box; /* Border and padding included in width/height */
}

.player-item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-color: #007bff; /* Example background color, adjust as needed */
    border-radius: 10px;
    padding: 20px; /* Adjust padding to increase size */
    margin: 10px; /* Adjust margin for spacing between items */
    color: white;
    cursor: pointer;
    text-align: center;
    width: 200px; /* Adjust width as needed */
    height: 300px;
}

.player-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    width: 100%;
}

.playerItem-stats p {
    margin-bottom: 0;
}

.playerItem-stats h3 {
    margin-top: 0;
}

.playerItem-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.player-points {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.player-rating {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.userInfoModal-content {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.userInfo-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    padding: 10px;
}

.invitationModal-content {
    display: flex;
    flex-direction: column;
    background: white;
    color: black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}