#root {
  display: flex;
  justify-content: center; /* This will center .main-container */
  align-items: stretch; /* This will stretch the child to fill the container */
  width: 100%;
  --nav-bar-height: 64px; /* Adjust this value based on your navigation bar height */
  --browser-input-bar-height: 0px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  max-width: 100%;
  height: 100vh; /* Set the height to 100% of the viewport height */
  overflow-y: auto; /* Hide any overflow */
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers children horizontally */
    justify-content: flex-start; /* Aligns content to the top */
    width: 100%; /* Full width of the viewport */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 2em;
    /* margin-top: 200px; */
}

.map-and-list-container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - var(--nav-bar-height) - var(--browser-input-bar-height));
  width: 100%;
}
  
  .map-container {
    flex-grow: 1;
    height: 100%;
    width: auto;
    position: relative;
    z-index: 0; /* Add a lower z-index value */
  }
  
  .list-container {
    padding: 1rem;
    height: 100%; /* Make the list container take up the full height */
    overflow-y: auto; /* Enable vertical scrolling within the list container */
  }

/* Style the list container to take up 20% of the width */
.scrollable-list-container {
  max-height: 100%;
}

.nav-style {
  background: rgba(61, 90, 128, 1);
  padding: 10px;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-header {
  margin-right: auto;
}

.nav-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.nav-style h2 {
  margin: 0;
}

.nav-style a {
    color: white;
    text-decoration: none; /* Optional: Removes underline from links */
}

.sorting-dropdown {
  margin: 10px;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-buttons li {
  margin-left: 20px;
}

.nav-buttons a {
  color: white;
  text-decoration: none;
}

.location-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.location-content h3 {
  margin-bottom: 10px;
}

.game-info {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust the gap as needed */
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's above other elements */
}

.gameCreationModal-content {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 800px; /* Adjusted width */
    max-width: 90vw; /* Maximum width to ensure it doesn't overflow the viewport */
    overflow-y: auto; /* Enable vertical scrolling if the content exceeds the modal height */
    position: relative; /* To ensure the modal is properly positioned */
    display: flex;
    flex-direction: column; /* Aligns children in a column */
    align-items: center; /* Centers children horizontally */
    justify-content: center; /* Centers content vertically */
}

.landing-container {
  width: 100%;
  position: fixed;
  margin-top: 136px;
}
  
.locationInfoModal-content {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    max-width: 50vw;
}

.teamModal-content {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.gameInfoModal-content {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    max-height: 80vh; /* Set a maximum height to prevent it from going off-screen */
    overflow-y: auto; /* Enable vertical scrolling when content overflows */
    width: 600px; /* Optional: Set a fixed width for consistency */
}

.game-playerlist-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap; 
}

.form-group {
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
  
.form-group label {
    display: block;
    margin-bottom: 5px;
}
  
.form-group input, .form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
.date-time-row {
    display: flex;
    justify-content: space-between; /* Adjust as needed for spacing */
    gap: 10px; /* Space between date and time fields */
}
  
.date-field, .time-field {
    flex: 1; /* Each field takes equal width */
}

.teams-max-row {
    display: flex;
    justify-content: space-between; /* Adjust as needed for spacing */
    gap: 10px; /* Space between fields */
}
  
.teams-only-field, .max-players-field {
    flex: 1; /* Each field takes equal width */
    display: flex;
    flex-direction: column; /* Aligns the label above the input/checkbox */
}

.skill-min-max-row {
    display: flex;
    justify-content: space-between; /* Adjust as needed for spacing */
    gap: 10px; /* Space between fields */
}
  
.skill-min-field, .skill-max-field {
    flex: 1; /* Each field takes equal width */
    display: flex;
    flex-direction: column; /* Aligns the label above the input */
}

.date-time-row, .teams-max-row, .skill-min-max-row {
    display: flex;
    justify-content: space-between;
    gap: 30px; /* Increased gap for more horizontal spacing */
}


.profileCreationModal-content {
    display: flex;
    flex-direction: column;
    background: white;
    color: black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.user-lists-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
}

.playerlist-container {
    display: flex;
    flex-direction: row; /* Align items in a row */
    align-items: center; /* Center items vertically */
    justify-content: flex-start; /* Align items to the start of the container */
    gap: 10px; /* Gap between items */
    padding: 10px; /* Padding around the container */
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: hidden; /* Prevent vertical scrolling */
    white-space: nowrap; /* Prevent wrapping to a new line */
}

.tabs-container {
    display: flex;
    justify-content: center;
    position: relative;
    border-bottom: 2px solid #ccc;
    position: relative;
    margin-bottom: 30px; /* Increase the bottom margin for more separation */
    padding-bottom: 10px;
    padding-top: 2em; /* Add some padding at the bottom */
}

.tab-button {
    padding: 15px 30px; /* Increase padding to make buttons larger */
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 3rem; /* Increase font size for better visibility */
    margin-top: 20px; /* Position higher on the page */
}

.tab-button:focus,
.tab-button:hover {
    background-color: #f0f0f0;
}

.slider {
    position: absolute;
    height: 4px;
    background-color: #007bff;
    bottom: 0px; /* Adjust if necessary to fit better with the increased button size */
    transition: left 0.3s ease-in-out, width 0.3s ease-in-out; /* Added width transition for a smoother effect */
    z-index: 1; /* Ensure it's above the tab buttons */
}

.player-circle {
    align-self: center;
    width: 66.66%; /* Adjust the width as per your design */
    padding-top: 66.66%; /* Height based on the width to keep it circular */
    border-radius: 50%; /* Make it round */
    background-color: lightblue; /* Circle color */
    margin-bottom: 10px; /* Space below the circle */
    box-sizing: border-box; /* Border and padding included in width/height */
}

.player-item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-color: #007bff; /* Example background color, adjust as needed */
    border-radius: 10px;
    padding: 20px; /* Adjust padding to increase size */
    margin: 10px; /* Adjust margin for spacing between items */
    color: white;
    cursor: pointer;
    text-align: center;
    width: 200px; /* Adjust width as needed */
    height: 300px;
}

.player-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    width: 100%;
}

.playerItem-stats p {
    margin-bottom: 0;
}

.playerItem-stats h3 {
    margin-top: 0;
}

.playerItem-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.player-points {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.player-rating {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.userInfoModal-content {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.userInfo-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    padding: 10px;
}

.invitationModal-content {
    display: flex;
    flex-direction: column;
    background: white;
    color: black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.location-stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.location-stats-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.game-comment-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    background-color: antiquewhite;
    border-radius: 50px;
}

.game-count {
  font-size: 14px;
}

.comment-notes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.club-item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-color: orange; /* Example background color, adjust as needed */
    border-radius: 10px;
    padding: 20px; /* Adjust padding to increase size */
    margin: 10px; /* Adjust margin for spacing between items */
    color: white;
    cursor: pointer;
    text-align: center;
    width: 400px; /* Adjust width as needed */
    height: 300px;
}

.team-item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-color: teal; /* Example background color, adjust as needed */
    border-radius: 10px;
    padding: 20px; /* Adjust padding to increase size */
    margin: 10px; /* Adjust margin for spacing between items */
    color: white;
    cursor: pointer;
    text-align: center;
    width: 300px; /* Adjust width as needed */
    height: 300px;
}

.game-item {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    justify-content: space-between; /* Even spacing between items */
    background-color: red; /* Example background color, adjust as needed */
    border-radius: 10px;
    padding: 20px; /* Adjust padding to ensure everything fits inside */
    margin: 10px; /* Adjust margin for spacing between items */
    color: white;
    cursor: pointer;
    text-align: center;
    width: 400px; /* Adjust width as needed */
    height: auto; /* Adjust height to be auto to contain all children */
    border: 1px solid #ccc; /* Optional border */
    overflow: hidden; /* Ensure nothing spills out */
  }

  .game-item button {
    padding: 5px 10px; /* Smaller padding */
    background-color: #ff0000; /* Red background for delete button */
    color: white; /* White text */
    border: none; /* No border */
    cursor: pointer; /* Cursor pointer */
    margin-top: 10px; /* Extra space at the top */
    align-self: flex-end; /* Align to the end of the flex container */
  }

  .location-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(128, 187, 5, 1);
    border-radius: 10px;
    padding: 20px;
    color: white;
    cursor: pointer;
    text-align: center;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin-bottom: 1em;
  }

.game-stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.filter-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
    overflow: visible;
    max-width: 100%;
  }

  .filter-container::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  .filter-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
  }
  
  .filter-container::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .filter-bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1em;
    overflow: visible;
  }

  .filter-bar-wrapper {
    position: fixed;
    top: 58;
    z-index: 99;
    background-color: white;
    width: 100%;

  }
  
  .filter-bar-container::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  .filter-bar-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
  }
  
  .filter-bar-container::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .filter-category {
    position: relative;
    margin: 0 10px;
    flex-shrink: 0;
  }

  .filter-pillbox {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    background-color: #f0f0f0;
    border-radius: 20px;
    cursor: pointer;
    user-select: none;
    z-index: 1;
  }

  .filter-badge {
    margin-left: 8px;
    padding: 4px 8px;
    background-color: #007bff;
    color: white;
    border-radius: 10px;
    font-size: 12px;
  }

  .filter-dropdown {
    position: absolute;
    top: calc(100% + 5px); /* Adjust the top position */
    left: 0;
    z-index: 1000;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    min-width: 150px;
    max-height: 80vh;
    overflow-y: auto;
  }

  .filter-option {
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .filter-option:hover {
    background-color: #f0f0f0;
  }
  
  .filter-option.selected {
    background-color: #007bff;
    color: white;
  }

  .search-bar-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .search-input {
    flex-grow: 1;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .filter-reset-button {
    margin-top: 10px;
    padding: 5px 10px;
    background: #dc3545;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .filter-reset-button:hover {
    background: #c82333;
  }
  
  .filter-options {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  
  .filter-option-button {
    padding: 5px 10px;
    margin: 0 5px 5px 0; /* Add some margin for spacing */
    border: 1px solid #ccc;
    background: #f0f0f0;
    cursor: pointer;
    transition: background 0.3s ease; /* Smooth transition for background color */
  }
  
  .filter-option-button:hover {
    background: #e0e0e0;
  }

  .filter-option-button:hover, .filter-option-button.selected {
    background: #007bff; /* Change background color on hover and when selected */
    color: white; /* Change text color to white for better contrast */
  }
  
  .filter-reset-button:hover {
    background: #c82333; /* Darker shade on hover */
  }

.playerlist-container {
    display: flex;
    flex-direction: row; /* Keep items in a row */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: center; /* Align items to the start of the container */
    gap: 10px; /* Gap between items */
    padding: 10px; /* Padding around the container */
    overflow-y: auto; /* Enable vertical scrolling if needed */
    max-height: 70vh; /* Adjust the max-height as needed */
}

.games-header {
    padding-top: 5em;
}

.games-list-container {
  display: flex; /* Use flexbox to layout children horizontally */
  flex-direction: row; /* Lay out children in a horizontal line */
  gap: 10px; /* Space between games */
  overflow-x: auto; /* Allow horizontal scrolling */
  overflow-y: hidden; /* Hide vertical scrollbar */
  padding: 10px; /* Padding around the container */
  margin-top: 20px; /* Space above the container */
  width: 100%; /* Ensure it takes up full container width */
}

.toggle-view-container {
  display: none;
}

.reset-button-container {
  display: block;
  margin-left: 10px;
}

@media screen and (max-width: 900px) {
    .filter-bar-container {
      padding-top: 10px;
      flex-direction: column;
    }
  
    .search-bar-container {
      width: 100%;
    }
  
    .filter-container {
      justify-content: flex-start;
      padding-left: 10px;
      padding-right: 10px;
      overflow-x: auto;
      /* overflow: visible; */
      max-width: 100%;
    }

    .filter-reset-button {
      padding: 5px 10px;
      background: #dc3545;
      color: white;
      border: none;
      cursor: pointer;
      border-radius: 5px;
    }

    .filter-category {
      position: static;
    }
  
    .filter-dropdown {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    z-index: 1000;
    width: 100%;
    max-height: 200px; /* Adjust the max-height as needed */
    overflow-y: auto; /* Enable vertical scrolling if needed */
  }
  
    .filter-reset-button {
      margin-top: 20px;
    }

    .nav-style {
      flex-wrap: wrap;
    }
  
    .nav-header {
      margin-right: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  
    .nav-toggle {
      display: block;
      margin-left: auto;
    }
  
    .nav-buttons {
      display: none;
      flex-direction: column;
      width: 100%;
      margin-top: 10px;
    }
  
    .nav-buttons.open {
      display: flex;
    }
  
    .nav-buttons li {
      margin: 10px 0;
    }

    .toggle-view-button {
      padding: 5px;
      background: transparent;
      border: none;
      cursor: pointer;
      color: #007bff;
      margin-right: 10px;
    }
    
    .toggle-view-button:hover {
      background: #0056b3;
    }

    .toggle-view-container {
      display: block;
    }

    .hidden-sm {
      display: none;
    }

    .map-and-list-container {
      flex-direction: column;
      align-items: center;
    }
  
    .map-container,
    .list-container {
      width: 100%;
      margin: 0;
      height: calc(100vh - 14em);
    }

    .list-container {
      padding: 1em;
    }
  
  }

  @media screen and (min-width: 768px) and (max-width: 900px) {
    .map-container,
    .list-container {
      width: 100%;
    }
  }